@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
.navbar-brand{
    font-weight: 700;
    font-size: 1.8em;
}
.nav-link{
    font-size: 1.1em;
    font-weight: 500;
    color: #3a6cf4;
}
.nav-link:hover{
    color: rgba(80, 0, 165, 0.735);
}
#sec1{
    background-image: url(images/background.jpeg);
    height: 90.2vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
#sec1 .btn{
    width: max-content;
    padding: 0.9375em 2.1875em;
    font-weight: 600;
    border-radius: 15px;
    font-size: 1.1rem;
}
.icons{
    display: flex;
    gap: 1.5rem;
    margin-top: 10px;
}
.icons i{
    font-size: 1.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}
.fa-linkedin:hover{
    color: #0a66c2;
}
.fa-twitter:hover{
    color: 	#1DA1F2;
}
.fa-instagram:hover{
    color: #8a3ab9;
}
.fa-facebook:hover{
    color: 	#1877F2;
}
h1{
    color: #3a6cf4;
    font-size: 70px;
    font-weight: 600;
}
.card{
    display: flex;
    gap: 29px;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    padding: 25px;
    border: none;
    border-radius: 10px;
    color: #3a6cf4;
    transition: 0.7s ease;
}
.card p{
    color: black;
}
.card i{
    font-size: 8rem;
    color: #3a6cf4;
}
.card:hover{
    transform: scale(1.08);
}
.bard{
    background-color: white;
    padding: 1px;
    border-radius: 10px;
    transition: 0.7s ease;
}
.bard img{
    border-radius: 10px;
}
.bard:hover{
    transform: scale(1.05);
}
.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
.footer i{
    color: #fff;
}
.fa-youtube:hover{
    color: 	#FF0000;
}
@keyframes logo {
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(0);
    }
}
i:hover{
    animation: logo 1s infinite;
}
.cc{
    padding: 10px 15px;
    color: #fff;
    background-color: #3a6cf4;
    font-size: 30px;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}